In [58]:
import pandas as pd

In [59]:
data = pd.read_csv('ufo_sightings.csv')
data = data.drop(columns=["description", "described_encounter_length"])
data.shape

(80332, 9)

In [60]:
data = data.dropna()
data.shape

(66524, 9)

In [61]:
data = data[data["country"] == "us"]
data = data.drop(columns = "country")
data.shape

(63561, 8)

In [62]:
data = data[data["ufo_shape"] != "unknown"]
data.shape

(58994, 8)

In [63]:
# data = data.sample(n = 5000)
data.head()

,date_time,city_area,state,ufo_shape,encounter_length,date_documented,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,cylinder,2700.0,4/27/2004,29.883056,-97.941111
3,10/10/1956 21:00,edna,tx,circle,20.0,1/17/2004,28.978333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,light,900.0,1/22/2004,21.418056,-157.803611
5,10/10/1961 19:00,bristol,tn,sphere,300.0,4/27/2007,36.595000,-82.188889
7,10/10/1965 23:45,norwalk,ct,disk,1200.0,10/2/1999,41.117500,-73.408333

In [64]:
# data["date_time"] = pd.to_datetime(data['date_time'], format='%-d/%-m/%Y %H:%M')

def format_date_str(date_str):
    date, time = date_str.split(" ")
    day, month, year = list(map(int, date.split("/")))
#     return f"{day:02d}-{month:02d}-{year:04d}"
    return year

data["year"] = data["date_time"].apply(lambda date_str: format_date_str(date_str))
data = data.drop(columns = "date_time")

In [65]:
data.to_csv("ufo_filtered_all.csv", index=False)