In [24]:
import pandas as pd

In [25]:
data = pd.read_csv('ufo_sightings.csv')
data = data.drop(columns=["description", "described_encounter_length"])
data.shape

(80332, 9)

In [26]:
data = data.dropna()
data.shape

(66524, 9)

In [27]:
data = data[data["country"] == "us"]
data = data.drop(columns = "country")
data.shape

(63561, 8)

In [28]:
data = data[data["ufo_shape"] != "unknown"]
data.shape

(58994, 8)

In [29]:
data = data.sample(n = 5000)
data.head()

,date_time,city_area,state,ufo_shape,encounter_length,date_documented,latitude,longitude
40062,4/3/2010 11:16,monterey,ca,egg,10.0,4/13/2010,36.600278,-121.893611
13519,11/28/2010 22:59,sacramento,ca,oval,45.0,1/5/2011,38.581667,-121.493333
33941,3/28/2013 21:00,studio city,ca,cylinder,300.0,5/15/2013,34.148611,-118.395556
52579,6/29/2013 22:30,river falls,wi,light,1200.0,7/22/2013,44.861389,-92.623611
38445,4/22/2000 23:15,lake charles,la,triangle,600.0,4/26/2000,30.226389,-93.217222

In [30]:
# data["date_time"] = pd.to_datetime(data['date_time'], format='%-d/%-m/%Y %H:%M')

def format_date_str(date_str):
    date, time = date_str.split(" ")
    day, month, year = list(map(int, date.split("/")))
    return f"{day:02d}-{month:02d}-{year:04d}"

data["date"] = data["date_time"].apply(lambda date_str: format_date_str(date_str))
data = data.drop(columns = "date_time")

In [31]:
data.to_csv("ufo_filtered.csv", index=False)